In [143]:
import datetime
import gzip
import radix
import re
import math
import pandas as pd

In [131]:
base = datetime.datetime.today()
days = [base - datetime.timedelta(days=x) for x in range(1, 365)]
days = [(x.year,x.month,x.day) for x in days]

In [132]:
d = days[0] # yesterday
fn_del = "data/delegated-apnic-%04d%02d%02d.gz" % (d[0],d[1],d[2])

In [133]:
f_del = gzip.open(fn_del, "rt")
del_lines = f_del.readlines()
seen_tree = radix.Radix()
for line in del_lines:
    if "ipv4" not in line:
        continue
    if "summary" in line:
        continue
    row = line[:-1].split("|")
    network = row[3]
    prefixlen = 32 - math.log(int(row[4]),2)
    alloc_date = "%s-%s-%s" % (row[5][0:4], row[5][4:6], row[5][6:8])
    ipblock = "%s/%d" % (network, prefixlen)
    snode = seen_tree.add(ipblock)
    snode.data["seen_date"] = None
    snode.data["alloc_date"] = alloc_date
    snode.data["asn"] = None

In [134]:
len(seen_tree.nodes())

41196

In [135]:
def get_unseen():
    ret = []
    for snode in seen_tree.nodes():
        if snode.data["seen_date"] is None:
            ret.append(snode)
    return ret

In [136]:
len(get_unseen())

41196

In [137]:
def get_dmp_tree(date):
    fn_dmp = "data/%s.dmp.gz" % date
    f_dmp = gzip.open(fn_dmp, "rt")
    dmp = f_dmp.read()
    dmp = dmp.replace("\n","")
    dmp_lines = dmp.split("*")
    f_dmp.close()
    dmp_tree = radix.Radix()
    for line in dmp_lines:
        if "/" not in line:
            continue
        row = re.sub('{.*}|>',"",line).split()
        prefix = row[0]
        # net = prefix.split("/")[0]    
        # mask = prefix.split("/")[1]
        asn = row[-2]
        rnode = dmp_tree.search_best(prefix)
        if rnode is None:
            rnode = dmp_tree.add(prefix)
            rnode.data["asn"] = asn
    return dmp_tree

In [138]:
def walk_dmp(date):
    dmp_tree = get_dmp_tree(date)
    i = 0
    for snode in get_unseen():
        i += 1
        rnode = dmp_tree.search_worst(snode.prefix)
        if rnode is not None:
            snode.data["seen_date"] = date
            snode.data["asn"] = rnode.data["asn"]

In [139]:
for d in days:
    day = "%04d-%02d-%02d"%(d[0],d[1],d[2])
    walk_dmp(day)
    print("%s\t%d"%(day,len(get_unseen())))

2019-02-22	24189
2019-02-21	24177
2019-02-20	24170
2019-02-19	24165
2019-02-18	24153
2019-02-17	24152
2019-02-16	24148
2019-02-15	24139
2019-02-14	24131
2019-02-13	24127
2019-02-12	24109
2019-02-11	24105
2019-02-10	24104
2019-02-09	24103
2019-02-08	24099
2019-02-07	24086
2019-02-06	24076
2019-02-05	24076
2019-02-04	24071
2019-02-03	24071
2019-02-02	24070
2019-02-01	24060
2019-01-31	24055
2019-01-30	24048
2019-01-29	24047
2019-01-28	24041
2019-01-27	24027
2019-01-26	24024
2019-01-25	24020
2019-01-24	24013
2019-01-23	24012
2019-01-22	24003
2019-01-21	24003
2019-01-20	24000
2019-01-19	23999
2019-01-18	23998
2019-01-17	23995
2019-01-16	23991
2019-01-15	23985
2019-01-14	23980
2019-01-13	23979
2019-01-12	23974
2019-01-11	23972
2019-01-10	23961
2019-01-09	23945
2019-01-08	23939
2019-01-07	23932
2019-01-06	23931
2019-01-05	23929
2019-01-04	23928
2019-01-03	23922
2019-01-02	23919
2019-01-01	23917
2018-12-31	23912
2018-12-30	23910
2018-12-29	23908
2018-12-28	23906
2018-12-27	23903
2018-12-26	23898
2018-12-25	23894
2018-12-24	23889
2018-12-23	23889
2018-12-22	23889
2018-12-21	23884
2018-12-20	23873
2018-12-19	23869
2018-12-18	23865
2018-12-17	23861
2018-12-16	23859
2018-12-15	23857
2018-12-14	23854
2018-12-13	23853
2018-12-12	23847
2018-12-11	23838
2018-12-10	23837
2018-12-09	23829
2018-12-08	23825
2018-12-07	23822
2018-12-06	23817
2018-12-05	23815
2018-12-04	23812
2018-12-03	23810
2018-12-02	23803
2018-12-01	23803
2018-11-30	23800
2018-11-29	23797
2018-11-28	23789
2018-11-27	23784
2018-11-26	23766
2018-11-25	23765
2018-11-24	23762
2018-11-23	23761
2018-11-22	23753
2018-11-21	23749
2018-11-20	23749
2018-11-19	23744
2018-11-18	23743
2018-11-17	23739
2018-11-16	23734
2018-11-15	23728
2018-11-14	23724
2018-11-13	23718
2018-11-12	23718
2018-11-11	23713
2018-11-10	23710
2018-11-09	23709
2018-11-08	23709
2018-11-07	23701
2018-11-06	23691
2018-11-05	23690
2018-11-04	23687
2018-11-03	23687
2018-11-02	23685
2018-11-01	23681
2018-10-31	23677
2018-10-30	23666
2018-10-29	23658
2018-10-28	23657
2018-10-27	23652
2018-10-26	23648
2018-10-25	23648
2018-10-24	23640
2018-10-23	23637
2018-10-22	23633
2018-10-21	23629
2018-10-20	23628
2018-10-19	23623
2018-10-18	23622
2018-10-17	23614
2018-10-16	23608
2018-10-15	23598
2018-10-14	23595
2018-10-13	23566
2018-10-12	23564
2018-10-11	23557
2018-10-10	23554
2018-10-09	23551
2018-10-08	23545
2018-10-07	23544
2018-10-06	23541
2018-10-05	23538
2018-10-04	23536
2018-10-03	23532
2018-10-02	23529
2018-10-01	23521
2018-09-30	23518
2018-09-29	23516
2018-09-28	23510
2018-09-27	23507
2018-09-26	23502
2018-09-25	23501
2018-09-24	23493
2018-09-23	23493
2018-09-22	23491
2018-09-21	23485
2018-09-20	23481
2018-09-19	23473
2018-09-18	23471
2018-09-17	23465
2018-09-16	23464
2018-09-15	23460
2018-09-14	23454
2018-09-13	23450
2018-09-12	23446
2018-09-11	23446
2018-09-10	23443
2018-09-09	23443
2018-09-08	23443
2018-09-07	23441
2018-09-06	23430
2018-09-05	23426
2018-09-04	23424
2018-09-03	23418
2018-09-02	23416
2018-09-01	23413
2018-08-31	23411
2018-08-30	23408
2018-08-29	23405
2018-08-28	23404
2018-08-27	23403
2018-08-26	23403
2018-08-25	23402
2018-08-24	23397
2018-08-23	23396
2018-08-22	23396
2018-08-21	23391
2018-08-20	23391
2018-08-19	23390
2018-08-18	23389
2018-08-17	23384
2018-08-16	23380
2018-08-15	23380
2018-08-14	23376
2018-08-13	23374
2018-08-12	23374
2018-08-11	23373
2018-08-10	23319
2018-08-09	23316
2018-08-08	23309
2018-08-07	23305
2018-08-06	23303
2018-08-05	23301
2018-08-04	23300
2018-08-03	23298
2018-08-02	23297
2018-08-01	23289
2018-07-31	23284
2018-07-30	23284
2018-07-29	23282
2018-07-28	23277
2018-07-27	23275
2018-07-26	23268
2018-07-25	23264
2018-07-24	23261
2018-07-23	23259
2018-07-22	23257
2018-07-21	23255
2018-07-20	23255
2018-07-19	23236
2018-07-18	23233
2018-07-17	23230
2018-07-16	23228
2018-07-15	23223
2018-07-14	23222
2018-07-13	23220
2018-07-12	23219
2018-07-11	23216
2018-07-10	23213
2018-07-09	23206
2018-07-08	23204
2018-07-07	23200
2018-07-06	23199
2018-07-05	23183
2018-07-04	23182
2018-07-03	23181
2018-07-02	23181
2018-07-01	23181
2018-06-30	23180
2018-06-29	23178
2018-06-28	23168
2018-06-27	23165
2018-06-26	23163
2018-06-25	23159
2018-06-24	23159
2018-06-23	23158
2018-06-22	23155
2018-06-21	23154
2018-06-20	23146
2018-06-19	23144
2018-06-18	23143
2018-06-17	23141
2018-06-16	23141
2018-06-15	23140
2018-06-14	23138
2018-06-13	23138
2018-06-12	23133
2018-06-11	23123
2018-06-10	23122
2018-06-09	23116
2018-06-08	23116
2018-06-07	23111
2018-06-06	23109
2018-06-05	23098
2018-06-04	23093
2018-06-03	23091
2018-06-02	23090
2018-06-01	23085
2018-05-31	23085
2018-05-30	23076
2018-05-29	23073
2018-05-28	23068
2018-05-27	23066
2018-05-26	23063
2018-05-25	23062
2018-05-24	23053
2018-05-23	23048
2018-05-22	23044
2018-05-21	23040
2018-05-20	23039
2018-05-19	23038
2018-05-18	23035
2018-05-17	23031
2018-05-16	23025
2018-05-15	23022
2018-05-14	23022
2018-05-13	23022
2018-05-12	23022
2018-05-11	23019
2018-05-10	23016
2018-05-09	23012
2018-05-08	23008
2018-05-07	23008
2018-05-06	23007
2018-05-05	23007
2018-05-04	23002
2018-05-03	22998
2018-05-02	22996
2018-05-01	22995
2018-04-30	22993
2018-04-29	22991
2018-04-28	22989
2018-04-27	22984
2018-04-26	22978
2018-04-25	22972
2018-04-24	22955
2018-04-23	22953
2018-04-22	22952
2018-04-21	22952
2018-04-20	22949
2018-04-19	22944
2018-04-18	22941
2018-04-17	22892
2018-04-16	22885
2018-04-15	22883
2018-04-14	22883
2018-04-13	22882
2018-04-12	22882
2018-04-11	22880
2018-04-10	22876
2018-04-09	22876
2018-04-08	22876
2018-04-07	22874
2018-04-06	22871
2018-04-05	22869
2018-04-04	22861
2018-04-03	22861
2018-04-02	22859
2018-04-01	22858
2018-03-31	22856
2018-03-30	22851
2018-03-29	22846
2018-03-28	22846
2018-03-27	22842
2018-03-26	22840
2018-03-25	22839
2018-03-24	22838
2018-03-23	22833
2018-03-22	22832
2018-03-21	22827
2018-03-20	22822
2018-03-19	22818
2018-03-18	22817
2018-03-17	22815
2018-03-16	22812
2018-03-15	22808
2018-03-14	22799
2018-03-13	22797
2018-03-12	22793
2018-03-11	22793
2018-03-10	22790
2018-03-09	22788
2018-03-08	22787
2018-03-07	22785
2018-03-06	22784
2018-03-05	22778
2018-03-04	22777
2018-03-03	22775
2018-03-02	22775
2018-03-01	22775
2018-02-28	22773
2018-02-27	22773
2018-02-26	22770
2018-02-25	22769
2018-02-24	22769

In [161]:
len(lst_dict)

41196

In [157]:
lst_dict = []
for snode in seen_tree.nodes():
    row = {
        "prefix"     : snode.prefix,
        "prefixlen"  : snode.prefixlen,
        "alloc_date" : snode.data["alloc_date"],
        "seen_date"  : snode.data["seen_date"],
        "asn"        : snode.data["asn"]
    }
    lst_dict.append(row)

In [162]:
df = pd.DataFrame(lst_dict)
df = df[["prefix","prefixlen","asn","alloc_date","seen_date"]]

In [173]:
df.to_csv("unused.tsv", sep='\t', encoding='utf-8')

In [182]:
df.sort_values(by=["seen_date"],ascending=False).head(3)

               prefix  prefixlen    asn  alloc_date   seen_date
0          1.0.0.0/24         24  13335  2011-08-11  2019-02-22
23289  121.254.0.0/18         18  23563  2006-07-19  2019-02-22
23297   122.0.64.0/18         18  24422  2006-07-24  2019-02-22

In [185]:
df.sort_values(by=["seen_date"],ascending=True).head(3)

                 prefix  prefixlen     asn  alloc_date   seen_date
8685    103.43.148.0/22         22  133854  2014-11-24  2018-02-25
21670   115.69.128.0/19         19   45271  2008-07-18  2018-02-26
16924  103.205.148.0/22         22  134853  2016-01-01  2018-02-26

In [183]:
df[df["seen_date"].isnull()].head(3)

        prefix  prefixlen   asn  alloc_date seen_date
4   1.0.8.0/21         21  None  2011-04-12      None
5  1.0.16.0/20         20  None  2011-04-12      None
6  1.0.32.0/19         19  None  2011-04-12      None

In [188]:
n_seen   = len(df[df["seen_date"].notnull()])
n_unseen = len(df[df["seen_date"].isnull()])

print("# used    : %d bgp entries" % n_seen  )
print("# un-used : %d bgp entries" % n_unseen)

# seen   : 18427 bgp entries
# unseen : 22769 bgp entries

In [184]:
df[df["seen_date"].notnull()].head(3)

       prefix  prefixlen     asn  alloc_date   seen_date
0  1.0.0.0/24         24   13335  2011-08-11  2019-02-22
1  1.0.1.0/24         24  200094  2011-04-14  2019-01-10
2  1.0.2.0/23         23  200094  2011-04-14  2019-01-10